Repository i-dot-ai/caddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-ip, eslint

detect-ip:
  name: Detect IP addresses
  entry: ^(?!0\.0\.0\.0$)(?!127\.0\.0\.1$)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}
  language: pygrep

eslint:
  name: ESLint
  entry: "bash -c '\n  cd frontend;\n  npm install;\n  for file in \"$@\"; do\n    # remove the leading \"frontend/\" from each path\n    rel=\"${file#frontend/}\";\n    npx eslint \"$rel\" --fix || exit $?\n  done\n' _\n"
  language: system
  pass_filenames: true

Update url returned in sources to be the download link instead of the s3 link directly
  model/api/config.py
  model/api/search.py
  terraform/ecs.tf
Due: detect-ip

Update e2e tests, apply fixes and tidy-ups
  frontend/src/components/Resources.astro
  frontend/src/components/ResourcesTable.astro
  frontend/src/components/upload-info.ts
  frontend/src/pages/api/add-user.ts
  frontend/src/pages/api/remove-user.ts
  frontend/src/pages/collections/[collection]/index.astro
  frontend/tests/tests.spec.ts
Due: detect-ip, eslint

Updated lockfile
  model/poetry.lock
Due: none

Add download and copy buttons to resource page
  frontend/src/components/copy-link.ts
  frontend/src/logic/data.ts
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
  frontend/src/styles/global.css
Due: detect-ip, eslint

Change qdrant client in migration to sync client instead of async
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Remove with context from async qdrant client
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Use sync qdrant client for migration
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Remove client closure
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Add proper logging to migration
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Added progress tracker to embedding processing
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Upsert as we go because the ecs keeps dying on me
  model/alembic/versions/37b0cb83d755_ensure_textchunks_are_in_qdrant.py
Due: detect-ip

Add collection_id to document link building
  model/api/search.py
Due: detect-ip

Fix test
  model/tests/test_search.py
Due: detect-ip

Add some basic styling for markdown chunks
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
Due: detect-ip

Pin qdrant version
  terraform/qdrant.tf
Due: detect-ip

Add backend_host var to production deployment
  model/api/environments/production.py
Due: detect-ip

Altered download links to make them available to the frontend
  model/api/rest_app.py
  model/api/services.py
  model/api/types.py
Due: detect-ip

Changed source link creation to redirect to the frontend instead of the backend
  model/api/config.py
  model/api/environments/production.py
  model/api/search.py
  terraform/ecs.tf
Due: detect-ip

Changed resource page to use proper download link
  frontend/src/logic/data.ts
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
Due: detect-ip, eslint

Fix test
  model/tests/test_api.py
Due: detect-ip

Changed conditional in services.py that made no sense
  model/api/services.py
Due: detect-ip

Add styling for code blocks, h4s and ordered lists
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
Due: detect-ip

Move download_url to resource details instead of resource fragments
  frontend/src/logic/data.ts
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
  model/api/rest_app.py
  model/api/services.py
  model/api/types.py
Due: detect-ip, eslint

Return empty array if no users
  frontend/src/logic/data.ts
Due: detect-ip, eslint

correct tests
  model/api/services.py
  model/api/types.py
  model/tests/test_api.py
Due: detect-ip

Show url if available
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
  model/api/services.py
Due: detect-ip

Add protocol to frontend_host for model ecs
  terraform/ecs.tf
Due: detect-ip

Updated S3 download links to use the utils package instead
  model/api/services.py
Due: detect-ip

Fix tests
  model/api/services.py
  model/tests/conftest.py
  model/tests/test_api.py
  model/tests/test_file_upload.py
Due: detect-ip

Redirect to download/webpage if coming from chat
  frontend/src/pages/collections/[collection]/resources/[resource]/index.astro
Due: detect-ip

Update image tag for qdrant
  terraform/qdrant.tf
Due: detect-ip

Allow for no resources
  frontend/src/logic/data.ts
  frontend/src/pages/collections/[collection]/index.astro
Due: detect-ip, eslint

Update auto deployments to include qdrant ecs
  Makefile
Due: detect-ip

Add required vars for aws deployment
  terraform/ecs.tf
  terraform/secrets.tf
Due: detect-ip

Add page_size to document chunk page
  frontend/src/logic/data.ts
Due: detect-ip, eslint

Fix 67029bed5083_convert_uppercase_emails_to_lowercase.py failing on empty db
  model/alembic/versions/67029bed5083_convert_uppercase_emails_to_lowercase.py
Due: detect-ip

Update image versions, removed docker-compose-config dir and nginx redirect
  docker-compose-config/.env.example
  docker-compose-config/future.tlf
  docker-compose-config/local-client.yaml
  docker-compose-config/nginx.conf
  docker-compose-config/opensearch.Dockerfile
  docker-compose-config/user-switcher.conf
  docker-compose-config/welcome.Dockerfile
  docker-compose-config/welcome.sh
  docker-compose.yaml
Due: detect-ip

Path conditions:
  detect-ip: any of: ., but not: ^static/|\.lock
  eslint: any of: ^frontend/.*\.(?:js|jsx|ts|tsx)$
